<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nuevo pitch</h1>

    <p>Se ha dado de alta el pitch <%= @pitch.name %> a través de Happitch con tu email como contacto del proyecto.</p>
  </body>
</html>