<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Bienvenido a Happitch!</h1>

    <p>Alguien de la AMAP te ha creado un nuevo usuario. Utiliza las siguientes credenciales para ingresar a la aplicación:</p>
    <p>Usuario: <%= @user.email %></p>
    <p>Password: <%= @password %></p>
  </body>
</html>