<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reestablecer contraseña</h1>
    <!-- http://pcuervo.com/#/admin-panel-amap/reset-password/<%= @user.reset_password_token %> -->
    <!-- http://localhost:8888/admin-panel-amap/#/reset-password/<%= @user.reset_password_token %> -->
    <p><a href="http://pcuervo.com/#/admin-panel-amap/reset-password/<%= @user.reset_password_token %>" >Haz click aquí para reestablecer tu contraseña.</a></p>
    <p>Si no solicitaste un cambio de contraseña, simplemente ignora este correo y tu password permancerá igual.</p>
  </body>
</html>