<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Usuario rechazado</h1>
    <p>
      Lo sentimos, tu soliciud para usar la aplicación de Happitch ha sido rechazada.
    </p>
  </body>
</html>