<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Usuario aprobado</h1>
    <p>
      Tu soliciud para usar la aplicación de AMAP ha sido aprobada. Para iniciar sesión usa el correo <%= @user.email %> y la contraseña <%= @password %>.
    </p>
  </body>
</html>