<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nueva solicitud de usuario</h1>
    <p>
      Alguien de :<%= @user_request.agency %> con el correo <%= @user_request.email %> desea crear su cuenta para la app de Happitch. 
    </p>
    <p>
      Entra <a href="#">aquí</a> para aprobar la solicitud o rechazarla.
    </p>
  </body>
</html>