<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nueva solicitud de usuario</h1>
    <p>
      <% if 2 == @user_request.user_type %>
        Alguien de la agencia "<%= @user_request.agency_brand %>" con el correo <%= @user_request.email %> desea crear su cuenta para la app de Happitch. 
      <% else %>
        Alguien de la marca "<%= @user_request.agency_brand %>" con el correo <%= @user_request.email %> desea crear su cuenta para la app de Happitch. 
      <% end %>
    </p>
    <p>
      Entra <a href="#">aquí</a> para aprobar la solicitud o rechazarla.
    </p>
  </body>
</html>